<% include ../partials/WorkHours %>

<table border='1'>
	<tbody>
		<form action="/" method="GET">
	 		<button type="submit">回到首頁</button>
		</form>
		<br>

		<tr>
			<td>  </td><td> 唯一碼 </td><td> 姓名  </td><td> 日期 </td><td> 狀態 </td><td> 上班時間 </td><td> 下班時間 </td><td> 工作時間 </td><td> 薪水 </td>
		</tr>

		<%
			var Salary1  = 0 
			var Salary2  = 0 
			var Salary3  = 0 
			var Salary4  = 0 
			var Salary5  = 0 
			var Salary6  = 0 
			var Salary7  = 0 
		%>

		<tr>
		<% for(var i=0; i<dejuice_employee.length; i++) {%>
			<% var hour_checkout='';%>
			<% var minute_checkout='';%>
			<% var workPeriod='';%>
			<% for(var j=i+1; j<dejuice_employee.length; j++){

						if( (dejuice_employee[j].employee_name == dejuice_employee[i].employee_name) && 
							(dejuice_employee[j].year == dejuice_employee[i].year)&& 
							(dejuice_employee[j].month == dejuice_employee[i].month)&& 
							(dejuice_employee[j].day == dejuice_employee[i].day) &&
							(dejuice_employee[j].worktype == '下班')
						    ){
						   		hour_checkout = dejuice_employee[j].hour;
						   		minute_checkout = dejuice_employee[j].minute;
						   		break;
						    }
			} %>

			<% if(dejuice_employee[i].worktype == '上班'){%>
				<tr>
			        <td><form action="/delete/EmployeeSalary/" method="POST">
			      		<input type="hidden" placeholder="timeID" name="timeID" value=<%= dejuice_employee[i].timeID %>>
			      		<button type="submit">刪除</button>
				    </form></td>
				    <td><%= dejuice_employee[i].timeID %></td>
					<td><%= dejuice_employee[i].employee_name %></td>
					<td><%= dejuice_employee[i].year %>/<%=dejuice_employee[i].month%>/<%=dejuice_employee[i].day %></td>
					<td><%= dejuice_employee[i].worktype %></td>
					<td><%= dejuice_employee[i].hour %>:<%=dejuice_employee[i].minute%></td>
					<td><%= hour_checkout %>:<%=minute_checkout%></td>
					<% workPeriod = (parseInt(hour_checkout,10)*60+parseInt(minute_checkout,10))-(parseInt(dejuice_employee[i].hour,10)*60+parseInt(dejuice_employee[i].minute,10))%>
					<td><%= workPeriod %></td>
					<td><%= Math.round(workPeriod*126/60, 10)%></td>
				</tr>

				<% 
						if(dejuice_employee[i].employee_name == '小香')
						{
							Salary1  = Salary1 + Math.round(workPeriod*126/60, 10)
						}
						else if(dejuice_employee[i].employee_name == '雲翔')
						{
							Salary2 = Salary2 + Math.round(workPeriod*126/60, 10)
						}
						else if(dejuice_employee[i].employee_name == '竹竹')
						{
							Salary3 = Salary3 + Math.round(workPeriod*126/60, 10)
						}
						else if(dejuice_employee[i].employee_name == '亮廷')
						{
							Salary4 = Salary4 + Math.round(workPeriod*126/60, 10)
						}
						else if(dejuice_employee[i].employee_name == '聖芳')
						{
							Salary5 = Salary5 + Math.round(workPeriod*126/60, 10)
						}
						else if(dejuice_employee[i].employee_name == '藝芳')
						{
							Salary6 = Salary6 + Math.round(workPeriod*126/60, 10)
						}
						else if(dejuice_employee[i].employee_name == '廣媽')
						{
							Salary7 = Salary7 + Math.round(workPeriod*126/60, 10)
						}
				%>

			<% } %>
	 	<% } %>

	</tbody>
</table>

<table border='1'>
<tbody>

		<tr>
			<td> 薪資  </td><td> 小香  </td><td> 雲翔 </td><td> 竹竹  </td>
			<td> 亮廷  </td><td> 聖芳  </td><td> 藝芳 </td><td> 廣媽  </td>
			<td> 總額  </td>
		</tr>
		<tr>
		<td> 金額  </td>
		<td><%= Salary1 %></td><td><%= Salary2 %></td>
		<td><%= Salary3 %></td><td><%= Salary4 %></td>
		<td><%= Salary5 %></td><td><%= Salary6 %></td>
		<td><%= Salary7 %></td><td><%= Salary1+Salary2+Salary3+Salary4+Salary5+Salary6+Salary7 %></td>
		</tr>

</tbody>
</table>